window.ENV = {
  TYPESENSE_API_KEY: 'YOU WILL NEED TO MAKE ONE YOURSELF, and make it read only because this will be public',
  TYPESENSE_HOST: 'set the host your typesense server is running on',
  TYPESENSE_PORT: '443',
  TYPESENSE_PROTOCOL: 'https',
  BASE_DOMAINS: [
    {
      title: "example",
      url: "https://example.com",
      content: "replace these with the pages you want to list when nothing is searched"
    }
  ]
};
